body {
    background-color: rgb(8, 8, 8);
    background-size: 100%;
    background-attachment: fixed;
}
.home{
    width: 100%;
    height: 91.5vh;
    position: relative;
    opacity: .6;
    }
ul {
    list-style-type: none;
}
a:link { 
    text-decoration: none;
} 
.nav-link{
    color: darkred;
    text-shadow: 1px 1px 2px white , 0 0 1em red , 0 0 0.2em red ;
    font-size: 2rem ;
}
.navbar-nav{
    display:flex;
    justify-content: space-around;
}
.navbar-brand{
    font-size: 4rem ;
    color: darkred;
    text-shadow: 1px 1px 2px white , 0 0 1em red , 0 0 0.2em red ;
}
a {
    color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: white;
}
h2 {
    color: white;
    text-shadow: 1px 1px 2px white , 0 0 1em red , 0 0 0.2em red
}
h3 {
    color: darkred;
    display: flex;
    align-items: left;
}